body {
  /* font-family: ''; */
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.marqueContainer {
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  align-self: center;
}
.ticker {
  padding: 0px;
  margin-right: 40px;
  width: 100%;
}

.ticker .ticker__element {
  display: flex;
  flex-direction: row;
}

.ticker span {
  padding: 0px 6px;

  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
}

.arrow {
  font-size: 30px;
  padding: 0px 10px;
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  height: 30px;
  font-family: jd_lcd_roundedregular;
  color: white;
}

.link,
.link:visited {
  color: inherit;
  text-decoration: none;
}

.ticker {
  display: flex;
}
.ticker__list {
  display: flex;
  margin-top: 20px;
  animation: ticker 15s infinite linear;
}
.ticker:hover .ticker__list {
  animation-play-state: paused;
}
.ticker__item {
  margin-right: 20px;
}

.ticker__item span {
  padding: 0 10px;
}
/* 
@-moz-keyframes ticker {
  100% {
    transform: translateX(-100%);
  }
}
@-webkit-keyframes ticker {
  100% {
    transform: translateX(-100%);
  }
}
@-o-keyframes ticker {
  100% {
    transform: translateX(-100%);
  }
}
@keyframes ticker {
  100% {
    transform: translateX(-100%);
  }
} */

.marquee {
  width: 100%;
  overflow: hidden;
  height: 30px;
}

.logo {
  padding: 0 0 0 10px;
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  height: 30px;
  width: 30px;
}

.logo img,
.logo a {
  height: 30px;
  width: 30px;
}
